@import "tailwindcss";

@theme {
    /* colors */
    --color-primaryColor: #F8FAFC;
    --color-taskInProgressCol: #F5D565;
    --color-addNewTask: #F5E8D5;
    --color-AddBtnCol: #E9A23B;
    --color-taskCompCol: #A0ECB1;
    --color-taskCompBtnCol: #32D657;
    --color-taskWontDoCol: #F7D4D3;
    --color-taskWontDoBtnCol: #DD524C;
    --color-taskToDoCol: #E3E8EF;
    --color-subTitleCol: #00000033;
    --color-highlightCol: #3662E3; 
    --color-delBtnColor: #97A3B6;
}

body, head {
    font-family: "Outfit", sans-serif;
    @apply bg-primaryColor h-vh
}

.container {
    @apply py-6 my-6 xl:px-96 lg:px-80 md:px-50 px-5 max-w-full;
}

.main-transition {
    @apply transition-all duration-500
}

/* Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  scrollbar-width: thin;
  @apply bg-transparent;
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  /* @apply bg-taskToDoCol rounded-full cursor-grab; */
  @apply bg-taskToDoCol rounded-full;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-highlightCol);
}